
  


<div class="nav">
  <div class="nav_logo">
  <img src="./images/logo.png" width="150px">
</div>
     <div class="nav_menu">
            <ul class="nav_ul">
                <li><a href="./">HOME</a></li>
              <li><a href="./allBlogs">ALL BLOGS</a></li>
            </ul>
        </div>

    <div class="nav_user">
         <ul class="nav_ul">
            <li><a href="./login" style="font-weight:100;">Login</a></li>
            <li><a href="./register" style="font-weight:100;">Register</a></li>
        </ul>
    </div>

</div>
<div class="box">
  <h1>Signin</h1>
  <div class="x"></div>
  <div class="signForm">
    <form action="./createNewAccount" name="createNewAccount" method="POST" onsubmit="return registerJudgement()" style="text-align:right;">
        <div><span>Username:  </span><input type="text" name="user_name" class="username"><br><span class="usernameError"></span></div><br>
        <div><span>Password:  </span><input type="password" name="password" class="password"></div><br>
        <div><span>RePassword:  </span><input type="password"  class="rePassword"><br>
          <span class="error">Entered passwords differ</span>
        </div><br>
        <p style="text-align:center;">Select your avatar</p>
        <input type="text" style="display: none;" id="avatar_path" name="avatar_path" class="formContent">
        <div class="btnBgs">
          <button type="button" img="../images/avatar1.jpg" class="btnBg"></button>
          <button type="button" img="../images/avatar2.jpg" class="btnBg"></button>
          <button type="button" img="../images/avatar3.jpg" class="btnBg"></button>
          <button type="button" img="../images/avatar4.jpg" class="btnBg"></button>
          <button type="button" img="../images/avatar5.jpg" class="btnBg"></button>
        </div><br>
        <div><span>First name:  </span><input name="fname" type="text" class="formContent"></div><br>
        <div><span>Last name:  </span><input name="lname" type="text" class="formContent"></div><br>
        <div><span>Date of birth:  </span><input name="DOB" type="date" class="formContent"></div><br>
        <div><span>Description:</span><input name="description" type="text" class="formContent"></div><br>
        <div><button type="submit" style="width: 80px;height: 30px;">Sign up now</button></div>
      </form>
  </div>
</div>
<script>
let isValidUserName = false;
  let isValidPassword = false;
    
  var xhr;
  var password = document.querySelector(".password")
  var rePassword = document.querySelector(".rePassword")
  var errors = document.querySelector(".error")
  rePassword.addEventListener("blur", function () {
    if (password.value !== rePassword.value) {
      errors.style.display = "block";
      isValidPassword = false;
     
    } else {
      errors.style.display = "none";
      isValidPassword = true;
    

    }
  });

  var username = document.querySelector(".username");
  var usernameError = document.querySelector(".usernameError")
  username.addEventListener("blur", function() {
    userInput(username);
    {{!-- getResult(); --}}
  });

	function getXMLHttpRequest() {
		if (window.XMLHttpRequest) {
			return new XMLHttpRequest;
		}
	}
	function userInput(textName) {
	
		var userName = textName.value;
		xhr = getXMLHttpRequest();
		xhr.onreadystatechange = getResult;
		xhr.open("GET", "http://localhost:3000/userExist?username=" + userName, true);
		xhr.send(null);
	}
	function getResult() {
		if (xhr.readyState == 4 && xhr.status == 200) {
			if (xhr.responseText == "v") {
				usernameError.style.color = "green";
				usernameError.innerHTML = "Valid usernameï¼";
        isValidUserName = true;
      
			} else {
				usernameError.style.color = "red";
				usernameError.innerHTML = "Invalid username, please enter again";
        isValidUserName = false;
       
			}
		}
	}

  let avatar_list = document.getElementsByClassName("btnBg");
  avatar_list = Array.from(avatar_list);
  let avatar_path_dom = document.getElementById("avatar_path")
  avatar_list.forEach((outitem)=>{
    outitem.addEventListener("click",function(){
   
     avatar_list.forEach((item)=>{
        item.style.border = "2px solid black"
     })
      this.style.border = "2px solid red"
      avatar_path_dom.value = this.getAttribute("img")
     
    })
  })

  function registerJudgement()
  { 
    let content = document.querySelectorAll(".formContent");
    
    let isValidContent = true;
    for(let i =0; i < content.length; i++){
      let validity = isNull(content[i].value);
      if(validity == false){
        isValidContent = isValidContent && true;
      }else {
        isValidContent = false;
      }
    }
   

    isValidContent = isValidUserName && isValidPassword && isValidContent;
   

    if(isValidContent == false) {
      alert("Please fill all content!");
    }

    return isValidContent;
  };

  function isNull( str )
  {
      if ( str == "" ) {
          return true;
      }
      var regu = "^[ ]+$";
      var re = new RegExp(regu);
      return re.test(str);
  };

</script>
