body {
    background-color: #E8E8E8;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/header.jpg);
    position: relative;
    text-align: center;
}

.headerText {
    color: #fff;
    font-family: 'Caveat Brush', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
    letter-spacing: 0.3em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.footer {
    background-color: #3C415C;
    height: 100px;
    text-align: center;
}

.footerText {
    color: white;
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 5px 50px;
    z-index: 100000;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.nav_logo {
    position: relative;
}

.nav_menu {
    position: relative;
    width: 70%;
    font-size: 1em;
    letter-spacing: 2px;
}

.nav_ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav_ul>li {
    box-sizing: border-box;
    display: block;
}

.nav_ul li a {
    position: relative;
    text-decoration: none;
    margin: 0 15px;
    color: #000;
    line-height: 55px;
    display: block;
    border-bottom: 3px solid #fff;
    font-weight: 700;
}

.nav_ul li a:hover {
    box-sizing: border-box;
    border-bottom: 3px solid #000;
}

.nav_user {
    font-size: 18px;
}

.nav_ul>li ul {
    position: absolute;
    top: 40px;
    background-color: white;
    font-size: 1em;
    white-space: nowrap;
    transform: scaleY(0);
    transition: all 0.4s;
    transform-origin: 50% 0;
    z-index: 2;
}

.nav_ul>li ul li a {
    display: block;
}

.nav_ul>li:hover ul {
    transform: scaleY(1);
}

.nav_menu_sort {
    font-size: 0.3em;
    padding-top: 20px;
    padding-left: 20px;
}

.user_avatar_wrapper {
    font-size: 0.3em;
}

.img_avatar {
    width: 50px;
    height: 50px;
}

.img_circle {
    border-radius: 50%;
}

.left_sidebar, .right_sidebar{
    border: dashed 1px rgb(65, 57, 143);
    margin: 20px 20px 0px 20px;
    padding: 40px;
    height: fit-content;
    width: 200px;
    line-height: 30px;
    position: sticky;
    top: 100px;
    background-color: #C9D1D3;
}

.content_wrapper {
    border: 1px solid #ccc;
    margin: 20px 0px;
    padding: 40px;
}

.content_wrapper .img_avatar {
    width: 50px;
    height: 50px;
}

.comment_inner_comment .img_avatar {
    width: 30px;
    height: 30px;
}

.article_wrapper_header > .user_avatar_wrapper > .user_name p {
    text-align: center;
}